<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clean beaches</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css" />
    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 0.5em;
            right: -100px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #D4D4D4;
            border-radius: 9000px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 9000px;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript">
        var markers = [], reports = [], boats = [], boatsMarkers = []
        var map
        var cleanIcon, dirtyIcon, boatIcon
        var selectedReport = undefined

        var detailsDiv

        window.onload = () => {
            detailsDiv = document.getElementById('marker-details');

            map = L.map('map').setView([45.541297, 10.615784], 10);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                //attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            loadMarkers();
            loadBoats();

            cleanIcon = L.icon({
                iconUrl: '/static/images/beach_clean.png',

                iconSize: [25, 25], // size of the icon
                iconAnchor: [12.5, 12.5], // point of the icon which will correspond to marker's location
            });

            dirtyIcon = L.icon({
                iconUrl: '/static/images/beach_dirty.png',

                iconSize: [25, 25], // size of the icon
                iconAnchor: [20, 20], // point of the icon which will correspond to marker's location
            });

            boatIcon = L.icon({
                iconUrl: '/static/images/boat.png',

                iconSize: [25, 25], // size of the icon
                iconAnchor: [12.5, 12.5], // point of the icon which will correspond to marker's location
            });

            setInterval(loadMarkers, 5000)
            setInterval(loadBoats, 10000)
        }

        async function loadMarkers() {
            for (let marker of markers) {
                map.removeLayer(marker)
            }

            let response = await fetch('http://192.168.0.150:5000/api/reports?images=false')
            reports = (await response.json())['data']
            console.log(reports)
            for (let report of reports) {
                let marker = L.marker([parseFloat(report['latitude']), parseFloat(report['longitude'])], { icon: report['dateCleaned'] === '' ? dirtyIcon : cleanIcon, id: report['id'] }).addTo(map).on('click', onMarkerClick);
                markers.push(marker)
            }
        }

        async function loadBoats() {
            for (let marker of boatsMarkers) {
                map.removeLayer(marker)
            }

            let response = await fetch('http://localhost:5000/api/boats')
            boats = (await response.json())['data']
            console.log(boats)
            for (let boat of boats) {
                let marker = L.marker([parseFloat(boat['latitude']), parseFloat(boat['longitude'])], { icon: boatIcon }).addTo(map);
                boatsMarkers.push(marker)
            }
        }

        function onMarkerClick(e) {
            let id = e.target.options.id;

            selectedReport = reports.filter((report) => report.id === id)[0]

            detailsDiv.innerHTML = `<div class="flex flex-row justify-between items-start">
                <div class="flex flex-col">
                    <h1 class="text-md font-medium">Beach report</h1>
                    <p class="text-sm text-zinc-400 ">${selectedReport['id']}</p>
                    <div class="flex flex-row mt-1">
                        <span class="mdi mdi-map-marker-outline text-sm"></span>
                        <h3 class="text-sm font-medium">${selectedReport['latitude']}N ${selectedReport['longitude']}E</h3>
                    </div>
                </div>
                <div class="flex flex-row space-x-2 ${selectedReport['dateCleaned'] == '' ? 'bg-red-100 text-red-500' : 'bg-green-100 text-green-500'} px-2 py-1 rounded-md">
                    <span class="mdi ${selectedReport['dateCleaned'] == '' ? 'mdi-umbrella-beach' : 'mdi-flare'}"></span>
                    <h3 class="font-medium">${selectedReport['dateCleaned'] == '' ? 'dirty' : 'clean'}</h3>
                </div>
            </div>

            <div class="h-0.5 bg-slate-100 w-full my-1"></div>

            <div class="rounded-md overflow-hidden bg-slate-100">
                <img alt="dirty image" src="/images/${selectedReport['id']}/dirty.png">
                <p class="text-xs font-medium text-center uppercase tracking-wide p-1">Report image</p>
            </div>

            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-1 items-center">
                    <span class="mdi mdi-account-outline text-xl"></span>
                    <div class="flex flex-col">
                        <h3 class="text-xs text-zinc-400">Report user</h3>
                        <h1 class="text-md">${selectedReport['userReported']}</h1>
                    </div>
                </div>

                <div class="flex flex-row space-x-1 items-center">
                    <span class="mdi mdi-calendar-outline text-xl"></span>
                    <div class="flex flex-col">
                        <h3 class="text-xs text-zinc-400">Report date</h3>
                        <h1 class="text-md">${selectedReport['dateReported']}</h1>
                    </div>
                </div>
            </div>

            ${selectedReport['dateCleaned'] != '' ? `
            <div class="rounded-md overflow-hidden bg-slate-100">
                <img alt="dirty image" src="/images/${selectedReport['id']}/clean.png">
                <p class="text-xs font-medium text-center uppercase tracking-wide p-1">Cleaned image</p>
            </div>

            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-1 items-center">
                    <span class="mdi mdi-account-outline text-xl"></span>
                    <div class="flex flex-col">
                        <h3 class="text-xs text-zinc-400">Clean user</h3>
                        <h1 class="text-md">${selectedReport['userCleaned']}</h1>
                    </div>
                </div>

                <div class="flex flex-row space-x-1 items-center">
                    <span class="mdi mdi-calendar-outline text-xl"></span>
                    <div class="flex flex-col">
                        <h3 class="text-xs text-zinc-400">Clean date</h3>
                        <h1 class="text-md">${selectedReport['dateCleaned']}</h1>
                    </div>
                </div>
            </div>
            ` : ''}

            `
        }
    </script>
</head>

<body class="bg-gradient-to-b from-[#1A2B50] to-[#368DB3]">
    <div class="mx-10 xl:mx-40 mt-4 flex flex-row space-x-2 justify-center items-center">
        <h1 class="text text-white text-4xl">Clean beaches</h1>
    </div>

    <div class="grid mx-6 my-6 gap-6 h-[85vh]" style="grid-template-columns: 2fr 1fr;">
        <div class="rounded-xl bg-slate-50 overflow-hidden">
            <div id="map" class="h-[100vh]"></div>
        </div>
        <div id="marker-details" class="rounded-xl bg-slate-50 p-2 space-y-2 overflow-y-scroll overflow-x-hidden">
            <div class="flex flex-col my-auto h-full justify-center items-center space-y-2">
                <span class="mdi mdi-map-marker-radius-outline text-5xl"></span>
                <p class="font-medium text-center text-lg self-center w-full">Select a report to see its
                    details</p>
            </div>
        </div>
    </div>

    <!--<div class="mx-10 xl:mx-40 my-10 p-10 rounded-xl bg-slate-50 space-y-4">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row space-x-2">
                <span class="px-2 pt-1 rounded-full mdi mdi-chart-line text-white bg-sky-500"></span>
                <h1 class="text-2xl font-medium text-slate-800">REPORTS DATA</h1>
            </div>
            <div class="grid grid-cols-3 gap-2 mt-2 space-x-2">
                <input class="hidden peer/co2" type="radio" id="co2" name="chart_radio"
                    onclick="graphSelectionClick(this);" value="co2" />
                <label
                    class="flex flex-row cursor-pointer py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/co2:bg-sky-500 peer-checked/co2:text-white peer-checked/co2:border-sky-500 hover:bg-sky-100 hover:border-sky-100 transition-all"
                    for="co2">
                    <span class="mdi mdi-molecule-co2 mr-1"></span>
                    <span>CO2</span>
                </label>
                <input class="hidden peer/temp" type="radio" id="temperature" name="chart_radio"
                    onclick="graphSelectionClick(this);" value="temperature" />
                <label
                    class="flex flex-row cursor-pointer py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/temp:bg-red-500 peer-checked/temp:text-white peer-checked/temp:border-red-500 hover:bg-red-100 hover:border-red-100 transition-all"
                    for="temperature">
                    <span class="mdi mdi-thermometer mr-1"></span>
                    <span>TEMPERATURE</span>
                </label>
                <input class="hidden peer/hum" type="radio" id="humidity" name="chart_radio"
                    onclick="graphSelectionClick(this);" value="humidity" />
                <label
                    class="flex flex-row cursor-pointer py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/hum:bg-sky-500 peer-checked/hum:text-white peer-checked/hum:border-sky-500 hover:bg-sky-100 hover:border-sky-100 transition-all"
                    for="humidity">
                    <span class="mdi mdi-water-outline mr-1"></span>
                    <span>HUMIDITY</span>
                </label>
                <input class="hidden peer/nPeople" type="radio" id="nPeople" name="chart_radio"
                    onclick="graphSelectionClick(this);" value="nPeople" />
                <label
                    class="flex flex-row cursor-pointer py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/nPeople:bg-green-500 peer-checked/nPeople:text-white peer-checked/nPeople:border-green-500 hover:bg-green-100 hover:border-green-100 transition-all"
                    for="nPeople">
                    <span class="mdi mdi-account-group-outline mr-1"></span>
                    <span>N° PEOPLE</span>
                </label>
                <input class="hidden peer/intLight" type="radio" id="internalLight" name="chart_radio"
                    onclick="graphSelectionClick(this);" value="internalLight" />
                <label
                    class="flex flex-row cursor-pointer py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/intLight:bg-yellow-500 peer-checked/intLight:text-white peer-checked/intLight:border-yellow-500 hover:bg-yellow-100 hover:border-yellow-100 transition-all"
                    for="internalLight">
                    <span class="mdi mdi-lightbulb-outline mr-1"></span>
                    <span>INTERNAL LIGHT</span>
                </label>
                <input class="hidden peer/extLight" type="radio" id="externalLight" name="chart_radio"
                    onclick="graphSelectionClick(this);" value="externalLight" />
                <label
                    class="flex flex-row cursor-pointer py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/extLight:bg-yellow-500 peer-checked/extLight:text-white peer-checked/extLight:border-yellow-500 hover:bg-yellow-100 hover:border-yellow-100 transition-all"
                    for="externalLight">
                    <span class="mdi mdi-weather-sunny mr-1"></span>
                    <span>EXTERNAL LIGHT</span>
                </label>
            </div>
        </div>
        <div id="curve_chart" class="w-full h-[500px] rounded-lg overflow-hidden bg-transparent"></div>
        <a class="flex flex-row cursor-pointer group/more space-x-2 mt-10 mx-auto px-4 py-2 w-fit rounded-md font-medium text-white tracking-wider bg-sky-500"
            href="/reports">
            MORE
            <span class="mdi mdi-arrow-right ml-1 group-hover/more:translate-x-1 transition-all"></span>
        </a>
    </div>
    <div class="mx-10 xl:mx-40 my-10 p-10 rounded-xl bg-slate-50 space-y-4">
        <div class="flex flex-row space-x-2">
            <span class="px-2 py-1 h-fit rounded-full mdi mdi-lightbulb-group-outline text-white bg-sky-500"></span>
            <h1 class="text-2xl font-medium text-slate-800">DOMOTICS</h1>
            <div class="flex-1"></div>
            <label for="rooms" class="font-medium text-slate-800 align-middle my-auto ml-auto">ROOM</label>
            <select name="rooms" id="rooms" onchange="onRoomSelect(this)"
                class="rounded-md outline-none border-2 border-slate-300 focus:border-sky-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100">
                <option value="it" {%if room=='it' %}selected{% endif %}>COMPUTER LAB</option>
                <option value="robotics" {%if room=='robotics' %}selected{% endif %}>ROBOTICS LAB</option>
                <option value="quinta_ssa" {%if room=='quinta_ssa' %}selected{% endif %}>5 SSA</option>
            </select>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 mt-2 space-x-2">
            <input class="hidden peer/lights" type="checkbox" id="lights" {% if light_status=='ON' %}checked{% endif %}
                onclick="lightsClick()" />
            <label
                class="flex flex-row cursor-pointer justify-center py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/lights:bg-yellow-500 peer-checked/lights:text-white peer-checked/lights:border-yellow-500 hover:bg-yellow-100 hover:border-yellow-100 transition-all"
                for="lights">
                <span class="mdi mdi-lightbulb-outline mr-1"></span>
                <span>LIGHTS</span>
            </label>
            <div class="flex flex-row space-x-2">
                <button type="button" title="Open blinds"
                    class="hover:bg-sky-100 py-1 px-3 text-xl font-medium border-2 border-slate-300 hover:border-sky-100 text-slate-800 rounded-md transition-all"
                    onclick="blindsUpClick()">
                    <span class="mdi mdi-arrow-up"></span>
                </button>
                <div
                    class="flex text-slate-800 bg-slate-200 rounded-md flex-1 h-full py-auto justify-center items-center">
                    <span class="block text-xl font-medium h-fit">BLINDS</span>
                </div>
                <button type="button" title="Open blinds"
                    class="hover:bg-sky-100 py-1 px-3 text-xl font-medium border-2 border-slate-300 hover:border-sky-100 text-slate-800 rounded-md transition-all"
                    onclick="blindsDownClick()">
                    <span class="mdi mdi-arrow-down"></span>
                </button>
            </div>
            <input class="hidden peer/hum" type="checkbox" id="heater" value="heater" onclick="heaterClick()" />
            <label
                class="flex flex-row cursor-pointer justify-center py-1 px-3 text-xl font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/hum:bg-red-500 peer-checked/hum:text-white peer-checked/hum:border-red-500 hover:bg-red-100 hover:border-red-100 transition-all"
                for="heater">
                <span class="mdi mdi-fire mr-1"></span>
                <span>HEATER</span>
            </label>
            <input class="hidden peer/lim" type="checkbox" id="lim" value="lim" {% if lim_status=='ON' %}checked{% endif
                %} onclick="limClick()" />
            <label
                class="flex flex-row cursor-pointer justify-center py-1 px-3 text-xl spce-x-2 font-medium text-slate-800 border-2 border-slate-300 rounded-md peer-checked/lim:bg-green-500 peer-checked/lim:text-white peer-checked/lim:border-green-500 hover:bg-green-100 hover:border-green-100 transition-all"
                for="lim">
                <span class="mdi mdi-projector-screen-variant-outline mr-1"></span>
                <span>LIM</span>
            </label>
        </div>
    </div>-->
</body>

</html>